<!-- START BARS -->
<section class="section bg-skills" id="page4">
    <div class="bg-overlay bg-black opacity-4"></div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="team-progress text-left p-0 m-0">
                            <!--Progress Item-->
                            <li class="progress-item">
                                <h6 class="text-white ">Project Management <span class="float-right"><b class="count text-white">90</b>%</span></h6>
                                <div class="progress">
                                    <span class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></span>
                                </div>
                            </li>
                            <!--Progress Item-->
                            <li class="progress-item">
                                <h6 class="text-white">Web Consulting<span class="float-right"><b class="count text-white">75</b>%</span></h6>
                                <div class="progress">
                                    <span class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></span>
                                </div>
                            </li>
                            <li class="progress-item">
                                <h6 class="text-white">Web Consulting<span class="float-right"><b class="count text-white">62</b>%</span></h6>
                                <div class="progress">
                                    <span class="progress-bar" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="team-progress text-left p-0 m-0">
                            <!--Progress Item-->
                            <li class="progress-item">
                                <h6 class="text-white">Project Management <span class="float-right"><b class="count text-white">90</b>%</span></h6>
                                <div class="progress">
                                    <span class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></span>
                                </div>
                            </li>
                            <!--Progress Item-->
                            <li class="progress-item">
                                <h6 class="text-white">Web Consulting<span class="float-right"><b class="count text-white">75</b>%</span></h6>
                                <div class="progress">
                                    <span class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></span>
                                </div>
                            </li>
                            <li class="progress-item m-0">
                                <h6 class="text-white">Web Consulting<span class="float-right"><b class="count text-white">62</b>%</span></h6>
                                <div class="progress">
                                    <span class="progress-bar" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END BARS -->