<!-- START CONTACT -->
<section id="page6" class="section bg-contact bg-dark position-relative">
    <div class="bg-overlay bg-black opacity-2"></div>
    <div class="bg-overlay bg-black2 opacity-9"></div>
    <div class="container full-screen center-block">
        <div class="contact-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-title wow fadeIn" data-wow-delay="300ms">
                        <h5> Leave a message </h5>
                        <div class="contact-line"></div>
                        <h2> Need Assistance? </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 contact-form-center wow fadeInUp" data-wow-delay="400ms">

                    <div class="col-sm-12 p-0" id="result"></div>

                    <div class="company-contact-form">
                        <component type="typeof(Contact)" render-mode="ServerPrerendered" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END CONTACT -->


 