<head>
    <base href="~/" />

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Author -->
    <meta name="author" content="Themesindustry">
    <!-- description -->
    <meta name="description" content="MegaOne is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose agency and portfolio HTML5 template with 8 ready home page demos.">
    <!-- keywords -->
    <meta name="keywords" content="creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, agency, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, personal, masonry, grid, faq">
    <!-- Page Title -->
    <title>Creative Piling | MegaOne HTML5 Template</title>
    <!-- Favicon -->
    <link href="creative-piling/images/favicon.ico" rel="icon">
    <!-- Bundle -->
    <link href="vendor/css/bundle.min.css" rel="stylesheet">
    <!-- Plugin Css -->
    <link rel="stylesheet" href="vendor/css/revolution-settings.min.css">
    <link rel="stylesheet" href="vendor/css/owl.carousel.min.css">
    <link rel="stylesheet" href="vendor/css/swiper.min.css">
    <link rel="stylesheet" href="vendor/css/LineIcons.min.css">
    <!-- Style Sheet -->
    <link href="creative-piling/css/jquery.pagepiling.css" rel="stylesheet">
    <link rel="stylesheet" href="creative-piling/css/pagepiling.css">
    <link href="creative-piling/css/style.css" rel="stylesheet">
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

</head>