<!-- START PORTFOLIO -->
<section class="section portfolio-sec" id="page5">
    <div id="content-scroll">
        <h2 class="d-none">sas</h2>
        <!-- Showcase Holder -->
        <div id="showcase-holder">
            <div id="showcase-tilt-wrap">
                <div id="showcase-tilt">
                    <div id="showcase-slider" class="swiper-container">
                        <div class="swiper-wrapper">
                            <component type="typeof(Portfolio)" render-mode="ServerPrerendered" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="showcase-pagination-wrap">
                <div class="showcase-counter">
                    <span data-total="10"></span>
                </div>
                <div class="showcase-pagination"></div>
                <div class="caption-border left"></div>
                <div class="caption-border right"></div>
                <div class="arrows-wrap ">
                    <div class="prev-wrap animated-wrap"><div class="swiper-button-prev swiper-button-white parallax-element animated-element"></div></div>
                    <div class="next-wrap animated-wrap"><div class="swiper-button-next swiper-button-white parallax-element animated-element"></div></div>
                </div>
            </div>
        </div>
        <!-- Showcase Holder -->
        <!-- Swiper thumbnails -->
        <div class="swiper-thumbnails link">
            <button class="bullet"><img src="creative-piling/images/portfolio-thumb1.jpg" alt="img"> </button>
            <button class="bullet"><img src="creative-piling/images/portfolio-thumb2.jpg" alt="img"> </button>
            <button class="bullet"><img src="creative-piling/images/portfolio-thumb3.jpg" alt="img"> </button>
            <button class="bullet"><img src="creative-piling/images/portfolio-thumb4.jpg" alt="img"> </button>
            <button class="bullet"><img src="creative-piling/images/portfolio-thumb5.jpg" alt="img"> </button>
            <button class="bullet"><img src="creative-piling/images/portfolio-thumb6.jpg" alt="img"> </button>
            <button class="bullet"><img src="creative-piling/images/portfolio-thumb7.jpg" alt="img"> </button>
            <button class="bullet"><img src="creative-piling/images/portfolio-thumb8.jpg" alt="img"> </button>
            <button class="bullet"><img src="creative-piling/images/portfolio-thumb9.jpg" alt="img"> </button>
            <button class="bullet"><img src="creative-piling/images/portfolio-thumb10.jpg" alt="img"> </button>
        </div>
        <!-- Swiper thumbnails -->
    </div>
</section>
<!-- END PORTFOLIO -->


