<!-- START SERVICES -->
<section class="section bg-services" id="page2">
    <div class="bg-overlay bg-black opacity-4"></div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="offset-md-6 col-md-6 my-auto">
                <div id="services_slider" class="owl-carousel owl-theme">

                    <!-- Item 1 -->
                    <div class="services-item item text-center text-md-right">
                        <div class="services-icon per-slide">
                            <i class="lni-cup wow fadeInUp"></i>
                        </div>
                        <h1 class="mb-4 text-white per-slide wow fadeInRight font-weight-light shining-text">Creative Designs</h1>
                        <!--line-->
                        <div class="testimonial-line wow fadeInRight"></div>
                        <p data-aos="fade-left" class="mb-5 per-slide text-white wow fadeInLeft">Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit</p>
                    </div>

                    <!-- Item 2 -->
                    <div class="services-item item text-center text-md-right">
                        <div class="services-icon per-slide">
                            <i class="lni-world wow fadeInUp"></i>
                        </div>
                        <h1 class="mb-4 text-white per-slide wow fadeInRight font-weight-light shining-text">MegaOne Publicity</h1>
                        <!--line-->
                        <div class="testimonial-line wow fadeInRight"></div>
                        <p data-aos="fade-left" class="mb-5 per-slide text-white wow fadeInLeft">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
                    </div>

                    <!-- Item 3 -->
                    <div class="services-item item text-center text-md-right">
                        <div class="services-icon per-slide">
                            <i class="lni-emoji-smile wow fadeInUp"></i>
                        </div>
                        <h1 class="mb-4 text-white per-slide wow fadeInRight font-weight-light shining-text">Happy Clients</h1>
                        <!--line-->
                        <div class="testimonial-line wow fadeInRight"></div>
                        <p data-aos="fade-left" class="mb-5 per-slide text-white wow fadeInLeft"> I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a teachings of the great explorer of the truth,</p>
                    </div>

                    <!-- Item 4 -->
                    <div class="services-item item text-center text-md-right">
                        <div class="services-icon per-slide">
                            <i class="lni-anchor wow fadeInUp"></i>
                        </div>
                        <h1 class="mb-4 text-white per-slide wow fadeInRight font-weight-light shining-text">Work Globaly</h1>
                        <!--line-->
                        <div class="testimonial-line wow fadeInRight"></div>
                        <p data-aos="fade-left" class="mb-5 per-slide text-white wow fadeInLeft">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SERVICES -->