<MudDialog>
    <DialogContent>
        <div class="d-flex flex-column py-1">
            <p>Are you sure you want to permanently remove this item?</p>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Default" OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Confirm">Ok</MudButton>
    </DialogActions>
</MudDialog>
