@page "/"

@*<MudDatePicker @bind-Date="@Date1" Label="date1" />

<MudDatePicker @bind-Date="@Date2" Label="date2" />*@

<AuthenticationView>
    <Authenticated>
        <PageTitle>Index</PageTitle>
       
        <div style="height: 100%">
            <h1>Hello, world!</h1>
            Welcome to your new app.

        </div>
    </Authenticated>
    <NotAuthenticated>
        <Login />
    </NotAuthenticated>
</AuthenticationView>


@code
{

    public DateTime? Date1 { get; set; }

    public DateTime? Date2 { get; set; }
}