 
        <!-- First Slide -->
        <div class="swiper-slide"  data-title="FOREST HOUSE" data-subtitle="Photography" data-number="01">
            <div class="img-mask" >
                <div class="section-image" data-src="creative-piling/images/01hero.jpg">
                    <img src="creative-piling/images/01hero.jpg" />
                </div>
            </div>
            <a class="showcase-link-project" data-type="page-transition" href="project01.html"></a>
        </div>
        <!-- /First Slide -->
        <!-- Second Slide -->
        <div class="swiper-slide" data-title="ATHLETE CLASS" data-subtitle="Photography" data-number="02">
            <div class="img-mask">
                <div class="section-image" data-src="creative-piling/images/02hero.jpg"></div>
            </div>
            <a class="showcase-link-project" data-type="page-transition" href="project02.html"></a>
        </div>
        <!-- /Second Slide -->
        <!-- Third Slide -->
        <div class="swiper-slide bg-video" data-title="GOTI SAAB" data-subtitle="Video" data-number="03">
            <div class="img-mask">
                <div class="section-image" data-src="creative-piling/images/03hero.jpg">
                </div>
            </div>
            <a class="showcase-link-project" data-type="page-transition" href="project03.html"></a>
        </div>
        <!-- /Third Slide -->
        <!-- Fourth Slide -->
        <div class="swiper-slide" data-title="LADY IN WHITE" data-subtitle="Design" data-number="04">
            <div class="img-mask">
                <div class="section-image" data-src="creative-piling/images/04hero.jpg"></div>
            </div>
            <a class="showcase-link-project" data-type="page-transition" href="project04.html"></a>
        </div>
        <!-- /Fourth Slide -->
        <!-- Fifth Slide -->
        <div class="swiper-slide" data-title="CREATIVE FUTURE" data-subtitle="Design" data-number="05">
            <div class="img-mask">
                <div class="section-image" data-src="creative-piling/images/05hero.jpg"></div>
            </div>
            <a class="showcase-link-project" data-type="page-transition" href="project05.html"></a>
        </div>
        <!-- /Fifth Slide -->
        <!-- Sixth Slide -->
        <div class="swiper-slide" data-title="ANTIQUE CHOICE" data-subtitle="Photography" data-number="06">
            <div class="img-mask">
                <div class="section-image" data-src="creative-piling/images/06hero.jpg"></div>
            </div>
            <a class="showcase-link-project" data-type="page-transition" href="project06.html"></a>
        </div>
        <!-- /Sixth Slide -->
        <!-- Seventh Slide -->
        <div class="swiper-slide" data-title="KALASHAKALA" data-subtitle="Design" data-number="07">
            <div class="img-mask">
                <div class="section-image" data-src="creative-piling/images/07hero.jpg"></div>
            </div>
            <a class="showcase-link-project" data-type="page-transition" href="project07.html"></a>
        </div>
        <!-- /Seventh Slide -->
        <!-- Eighth Slide -->
        <div class="swiper-slide" data-title="WILD LIFE" data-subtitle="Photography" data-number="08">
            <div class="img-mask">
                <div class="section-image" data-src="creative-piling/images/08hero.jpg"></div>
            </div>
            <a class="showcase-link-project" data-type="page-transition" href="project08.html"></a>
        </div>
        <!-- /Eighth Slide -->
        <!-- Ninth Slide -->
        <div class="swiper-slide" data-title="GLAMOUR QUEEN" data-subtitle="Architecture" data-number="09">
            <div class="img-mask">
                <div class="section-image" data-src="creative-piling/images/09hero.jpg"></div>
            </div>
            <a class="showcase-link-project" data-type="page-transition" href="project09.html"></a>
        </div>
        <!-- /Ninth Slide -->
        <!-- Tenth Slide -->
        <div class="swiper-slide" data-title="DRAMA QUEEN" data-subtitle="Photography" data-number="10">
            <div class="img-mask">
                <div class="section-image" data-src="creative-piling/images/10hero.jpg"></div>
            </div>
            <a class="showcase-link-project" data-type="page-transition" href="project10.html"></a>
        </div>
 





 
