@page "/routable-counter2"

<PageTitle>Routable Counter2</PageTitle>

<h1>Routable Counter2</h1>


<p style="background-color: black"> Current count: @CurrentCount</p>
 
 @code {

     private int CurrentCount { get; set; }
            
    
     [Inject]
     public IDistributedSubscriber<string, int> Subscriber { get; set; }

     private async Task Subscribe()
     {
        await  Subscriber.SubscribeAsync("test", async obj =>
        {
            CurrentCount = obj;
            await InvokeAsync(StateHasChanged);
        });
     }

 

     protected override async Task OnInitializedAsync()
     {
         await Subscribe();
         await base.OnInitializedAsync();
     }
}